.establisment-item {
    cursor: pointer;
}

.establisment-item:hover {
    background-color: #eee !important;
}

.new-button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 100px;
}