.form-container {
    display: flex;
    justify-self: center;
}

.input-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    margin: 15px 0;
    right: 10px;
}

.search-button {
    position: absolute;
    margin-top: 28px;
    margin-left: 185px;
}