<div class="form-container" style="display: flex; justify-self: center">
  <p-card class="form-card" header="Detalhes">
    <div style="display: flex; gap: 8rem">
      <div class="input-container">
        <label for="codigo_cnes">Código CNES</label>
        <p-skeleton />
      </div>
      <div class="input-container">
        <label for="numero_cnpj">CNPJ</label>
        <p-skeleton />
      </div>
      <div class="input-container">
        <label for="codigo_estabelecimento_saude">
          Código de Saúde do Estabelecimento
        </label>
        <p-skeleton />
      </div>
    </div>
    <div class="input-container">
      <label for="nome_razao_social">Razão Social</label>
      <p-skeleton />
    </div>
    <div class="input-container">
      <label for="nome_fantasia">Nome Fantasia</label>
      <p-skeleton />
    </div>
    <div style="display: flex; gap: 2rem">
      <div class="input-container" style="width: 100%">
        <label for="endereco_email_estabelecimento">Email</label>
        <p-skeleton />
      </div>
      <div class="input-container">
        <label for="numero_telefone_estabelecimento">Telefone</label>
        <p-skeleton />
      </div>
    </div>
    <div class="input-container">
      <label for="descricao_turno_atendimento">Descrição do Turno</label>
      <p-skeleton />
    </div>
    <div style="display: flex; gap: 2rem">
      <div class="input-container">
        <label for="codigo_cep_estabelecimento">CEP</label>
        <p-skeleton />
      </div>
      <div class="input-container" style="width: 100%">
        <label for="endereco_estabelecimento">Endereço</label>
        <p-skeleton />
      </div>
    </div>
    <div style="display: flex; gap: 2rem">
      <div class="input-container">
        <label for="numero_estabelecimento">Numero</label>
        <p-skeleton />
      </div>
      <div class="input-container" style="width: 100%">
        <label for="bairro_estabelecimento">Bairro</label>
        <p-skeleton />
      </div>
    </div>
  </p-card>
</div>
